<h1>Books</h1>

<p>Can't find the book you're looking for? Add it <%= link_to "here", new_book_path %>!</p>

<div>
  <h3>Filter books by genre:</h3>
  <%= form_tag("/books", method: "get") do %>
    <%= select_tag "genre", options_from_collection_for_select(@genres, "id", "name"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %> by <%= book.author %>
    </li>
  <% end %>
</ul>