<h1><%= @book.title %></h1>

<p>Author: <%= @book.author %></p>
<p>Genre: <%= @book.genre.name %></p>

<p><%= link_to "Edit this book", edit_book_path(@book) %></p>
<p><%= link_to "Delete this book", book_path(@book), method: :delete, data: { confirm: "Are you sure?"} %></p>

<h3>Reviews</h3>

<%= link_to "Write a review for this book", new_book_review_path(@book) %>

<% if @book.reviews.empty? %>
  <p>Sorry, this book doesn't have any reviews yet!</p>
<% else%>
  <ul>
    <% @book.reviews.each do |review| %>
      <li>
        <%= link_to review.title, review_path(review) %> - a review by <%= link_to review.user.name, user_path(review.user) %>
      </li>
    <% end%>
  </ul>
<% end %>