<% if params[:user_id] %>
  <h1><%= @user.name %>'s Reviews</h1>
<% else%>
  <h1>Reviews</h1>
<% end%>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= link_to review.title, review_path(review) %> - <%= link_to review.user.name, user_path(review.user) %>'s review of <%= link_to review.book.title, book_path(review.book) %> by <%= review.book.author %>
    </li>
  <% end%>
</ul>