<h1><%= @title %></h1>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <% if params[:book_id] %>
        <%= link_to review.title, review_path(review) %> - a review by <%= link_to review.user.name, user_path(review.user) %>
      <% elsif params[:user_id] %>
        <%= link_to review.title, review_path(review) %> - a review of <%= link_to review.book.title, book_path(review.book) %> by <%= review.book.author %>
      <% else %>
        <%= link_to review.title, review_path(review) %> - <%= link_to review.user.name, user_path(review.user) %>'s review of <%= link_to review.book.title, book_path(review.book) %> by <%= review.book.author %>
      <% end%>
    </li>
  <% end%>
</ul>


